@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: whitesmoke;
}


@keyframes slide {
    from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
.slide-bar{
	display: inline-block;
	animation:  35s slide linear infinite;
}

.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-buttom {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 2px;
	margin-top: 4px;
	background: #000;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle{
	transform: translateY(7px);
}

.hamburger-buttom{
	transform: translateY(14px);
}

.open{
	transform: rotate(90deg);
	transform: translateY(0px);
}

.open .hamburger-top{
	transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle{
	display: none;
}

.open .hamburger-buttom{
	transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.preloader {
	background-color: white;
	width: 100vw;
	height: 100vh;
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
	z-index: 9999;
	animation: fadein 3s ease;
}
/* .loading {
	position: absolute;
	bottom: 50%;
	left: calc(50% - 21px);
}
.loading-ball {
	display: inline-block;
	width: 8px;
	height: 8px;
	row-gap: 10px;
	border-radius: 4px;
	animation: loading 2s ease-in-out infinite;
}
.loading-ball:nth-child(1) {
	background-color: #FFC200;
	animation-delay: 0;
}
.loading-ball:nth-child(2) {
	background-color: #FFC200;
	animation-delay: 0.2s;
}
.loading-ball:nth-child(3) {
	background-color: #068A60;
	animation-delay: 0.4s;
}
.loading-ball:nth-child(4) {
	background-color: #068A60;
	animation-delay: 0.6s;
} */
/* @keyframes loading {
	0% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(24px);
	}
	
} */
@keyframes zoom {
	0% {
		transform: scale(0);
	}
	85% {
		transform: scale(1.8);
	}
	
}
@keyframes fadein {
	0% {
		display: block;
	}
	100% {
		display: none;
	}
}

.logo{
	position: absolute;
	bottom: 55%;
	left: 0vh;
	margin-left: 44%;
	animation: zoom 3s;
	
}